.login {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #fff;
    display: flex;
}

/* .stylish-design {
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%, 0 80%);
}
*/

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 2rem;
    width: 45vw;
    height: 80vh;
}

#uname,
#pword {
    width: 300px;
    height: 40px;
}

@media only screen and (max-width: 950px) {
    .stylish-design {
        width: 70vw;
        transition: all 250ms ease-in-out;
    }

    .login-form {
        width: 70vw;
    }
}

@media only screen and (max-width: 760px) {
    .stylish-design {
        width: 80vw;
        transition: all 250ms ease-in-out;
    }

    .login-form {
        width: 80vw;
    }
}

@media only screen and (max-width: 680px) {
    .stylish-design {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.9);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        transition: all 250ms ease-in-out;
    }

    .login-form {
        width: 100vw;
    }
}